
body{
    background-color: rgb(225, 229, 255);
    position: ;
}
 h1{
 color: #7a59af;
}
.img{
width: 30%;
height: 30%;
}
h3{
    color: #8c69ff;
}
.contenedor{
    text-align: left;
}

.imagenes-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.imagenes-flex img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}
nav{
    color: #7a59af;
}
